* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: 'Open Sans', sans-serif;
  }
  :root {
    --main-color: #FF1493;
  }
  .container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
  }
  /* start header  */
  header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #eee;
    color: var(--main-color);
    font-weight: bold;
  }
  header .logo {
    font-size: 28px;
  }
  header nav {

  }
  header nav ul {
    display: flex;
    justify-content: space-between;
  }
  header nav ul li {
    list-style: none;
    margin-left: 15px
  }
  header nav ul li a {
    text-decoration: none;
    color: var(--main-color);
    font-size: 16px;
  }
  @media (max-width: 767px) {
    header {
      display: none;
    }
  }
  /* end header  */
  /* start landing page  */
  .landing {
  position: relative;
  min-height: 100vh;
  background-image: url(../images/landing5.jpg);
  background-size: cover;
  width: 100%;
  }
  .landing .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }
  .landing .container h2 {
    font-size: 32px;
    color: var(--main-color);
    margin-bottom: 20px;
  }
  .landing .container p {
    line-height: 1.7;
    font-size: 18px;
  }
  /* end landing page  */

  /* start add employee page  */
  .add-employee {
    background-image: url(../images/form2.jpg);
    background-size: cover;
    background-color: #fff;
    /* width: fit-content; */
    padding: 30px;
    height: 100vh;
    margin: auto;
  }
  .add-employee legend {
    margin: auto;
    margin-bottom: 20px;
  }
  .add-employee form {
    margin: auto;
    background-color: #eee;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    max-width: 700px;
  }
  .add-employee input,
  .add-employee select {
    padding: 5px 30px;
    display: block;
    background-color: rgb(222, 222, 241);
    border: 1px solid #ccc
  }
  
  @media (max-width: 767px) {
    .add-employee form {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
    .add-employee label {
      text-align: center;
    }
    .add-employee input {
      width: 100%;
    }
    .add-employee .row {
      width: 100%;
    }
  }